html {scroll-behavior: smooth;}
a {
    scroll-behavior: smooth;
    color: inherit;
    text-decoration: none;
    outline: none;
}
li {
    list-style: none;
}
.body {
   
    width: 1280px;
    margin: 0 auto;
   
}
main, footer {
    padding-left: 300px ;
}
.header {
    position: absolute;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(181, 179, 179);
    background-size: cover;

}
.header-container {
    display: flex;

    flex-direction: column;
    align-items:start;
    justify-content: center;
    padding-left: 20px;

  
}
.header-container > div {
    flex-grow: 1;

}
.aboutMe,
.work,
.education {
    text-align:left; 
    
    width: 60vw;
    margin: 0 auto;
}
.experience{
    display: flex;
    flex-direction: row;
}
.study{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.details {
  
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: start;
    padding: 1em;
    
    
}
div.anctor1 {
    width: 760px;
    margin: auto;
}
.contact-information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 1em;
}

.language {
    text-align: start;
    padding: 1em;
}
.e-history {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 1em;
}
.add-information {
    text-align: start;
    padding: 1em;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 5em;
    background: url("assets/img/photo-1540051834522-7248234b9b4d.jpg");
    background-size: cover;
}